.welcome-screen {
  padding: 2rem;
}

.welcome-screen h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.welcome-card {
  background-color: #eff6ff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cards-text {
  font-size: 1rem;
  font-weight: 500;
}

.welcome-card-yellow {
  background-color: #fef9c3;
  border: 1px solid #fef08a;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.card-header h2 {
  font-weight: 700;
  font-size: 1.125rem;
}

.card-header svg {
  font-size: 1.875rem;
}

.card-content {
  color: #374151;
  margin-bottom: 0.5rem;
}

.card-list {
  list-style-position: inside;
  padding-left: 1.5rem;
  margin: 0;
}

.card-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #4b5563;
}

.card-list li svg {
  font-size: 1.5rem;
}

.card-ol {
  list-style-position: inside;
  padding-left: 0.5rem;
  color: #374151;
}
